body {
    font-family:'Times New Roman', Times, serif;
    background-color: #ffffff;
  }
.pageHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    padding: 5em;
    font-weight: 900;
}

/* I played around with what . properties to use for these {} sections (list, shop).
I am not sure what the proper sectioning is for these sections - should they all be in the same curly bracket? 
Should they be broken out by different styling elements (and if so, how should they be grouped?)*/

.list{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around
}

.shop {
text-align: left;
border: 1px dashed #111111;
padding: .5em;
flex-direction: column;
flex-wrap: wrap;
justify-content: left; 
align-items: center;
margin: 0;
}

.shop {      
    width: 200px;
    height: 10px;
    display: inline-block;
    overflow: hidden; 
  }
